<template>
    <div :id="'reply-'+id" class="card" >
        <div class="card-header">
            <div class="level">
                <h6 class="flex">
                    <a href="/profiles/+data.owner.name"
                    v-text="data.owner.name">
                    </a> said {{ data.created_at }}...
                </h6>



                    <div v-if="signedIn">
                        <favorite :reply="data"></favorite>
                    </div>

            </div>
        </div>

        <div class="card-body">
            <!--@if (session('status'))-->
            <!--<div class="alert alert-success" role="alert">-->
                <!--{{ session('status') }}-->
            <!--</div>-->
            <!--@endif-->


            <div class="body">
                <div v-if="editing">
                    <div class="form-group">
                        <textarea class="form-control" v-model="body"></textarea>

                    </div>
                    <button class="bt n btn-primary" @click="update">Update</button>
                    <button class="btn btn-link" @click="editing = false">Cancel</button>
                </div>

                <div v-else v-text="body"></div>
            </div>

            <div class="panel-footer level" style="margin-top: 54px;" v-if="canUpdate">
                <button class="btn mr-1" style="background-color: #ccc" @click="editing = true">Edit</button>
                <button class="btn mr-1 btn-danger" @click="destroy">Delete</button>
            </div>
        </div>
    </div>
</template>



<script>
    import Favorite from './Favorite.vue';
    export default {
        props: ['data'],

        components: { Favorite },

        data() {
            return{
                editing: false,
                id: this.data.id,
                body: this.data.body
            };
        },


        computed: {
            signedIn(){
                return window.App.signedIn;
            },



        canUpdate() {
            return this.authorize(user => this.data.user_id == user.id);

        }
    },

        methods: {
            update(){
                axios.patch('/replies/' + this.data.id, {
                    body: this.body
                });

                this.editing = false;

                flash('Updated!')
            },

            destroy(){
                axios.delete('/replies/' + this.data.id);

                this.$emit('deleted', this.data.id);
            }
        }
    }
</script>
